<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="movie-items">
            <img src="{{data.Poster}}" class="maxwidth" />
            <h2 class="movietitle">{{data.Title}}</h2>
            <h2 class="movietitle">{{data.type}}</h2>
        </div>
        <table class="table">
          <tr>
            <td>Actors</td>
            <td>{{data.Actors}}</td>
          </tr>
          <tr>
            <td>BoxOffice</td>
            <td>{{data.BoxOffice}}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{data.Country}}</td>
          </tr>
          <tr>
            <td>DVD</td>
            <td>{{data.DVD}}</td>
          </tr>
          <tr>
            <td>Genre</td>
            <td>{{data.Genre}}</td>
          </tr>
          <tr>
            <td>Language</td>
            <td>{{data.Language}}</td>
          </tr>
          <tr>
            <td>Metascore</td>
            <td>{{data.Metascore}}</td>
          </tr>
          <tr>
            <td>Plot</td>
            <td>{{data.Plot}}</td>
          </tr>
          <tr>
            <td>Production</td>
            <td>{{data.Production}}</td>
          </tr>
          <tr>
            <td>Released</td>
            <td>{{data.Released}}</td>
          </tr>
          <tr>
            <td>Response</td>
            <td>{{data.Response}}</td>
          </tr>
          <tr>
            <td>Runtime</td>
            <td>{{data.Runtime}}</td>
          </tr>
          <tr>
            <td>Website</td>
            <td>{{data.Website}}</td>
          </tr>

          <tr>
            <td>Writer</td>
            <td>{{data.Writer}}</td>
          </tr>
          <tr>
            <td>Year</td>
            <td>{{data.Year}}</td>
          </tr>
          <tr>
            <td>imdbRating</td>
            <td>{{data.imdbRating}}</td>
          </tr>
          <tr>
            <td>imdbVotes</td>
            <td>{{data.imdbVotes}}</td>
          </tr>


        </table>
        
      </div>
      
    </div>
  </div>