.maxwidth{
    max-width: 100%;
    max-height: 250px;
    width: 100%;
}
.movietitle{
    font-size: 18px;
}
.movie-items{
    overflow: hidden;
    padding: 15px;
}
.specialsearch{
    margin: 10px;
}
.paddingtop15{
    margin-top: 10px;
}
.navigationbar{
    list-style-type: none;
    margin-top:30px;
}
.navigationbar li{
    display: inline-block;
    padding-left: 30px;
}
.navigationbar li a {
    color: black

}